# SoftUni Data Science Exam Project - Part 1 (Obtain and Scrub the data)

## Created by Konstantin Georgiev

### Email: dragonflareful@gmail.com

## Introduction

This research aims to provide more insight on the healthiness of french food products based on their nutrition value. 

The reason why I've chosen to single out french products is because France is one of the first countries to create the nutrition labelling system, which was introduced in 2015 and aims to decrease diet-related diseases and obesity across Europe. They have labeled the products with grades ranging from __'A'__ to __'E'__, __'A'__ meaning that the product has excellent nutritional quality and __'E'__ meaning that it has very poor nutritional quality. I will be using this grading system to determine which nutrients make the most impact on the grade level of the product. In order to compare my findings, I will use two additional fast food related datasets to see how the nutrition values relate to one another.

I have chosen to divide the process in three separate parts:<br><br>
 __1. Loading and cleaning the three datasets.__<br><br>
 __2. Performing Exploratory Data Analysis using the cleaned data from part 1.__<br><br>
 __3. Performing simple modelling also using the cleaned data from part 1.__<br><br>

### Libraries

 - pandas - main library used for loading, cleaning and filtering the datasets
 - numpy - for math calculations, working with NaN's, filtering with conditions 
 - matplotlib - for visualizations during exploration
 - nose.tools - for unit testing
 - scipy - for hypothesis testing
 - basemap - for plotting a map of the locations where the products were packaged
 - scikit-learn - preprocessing and logistic regression

### Datasets

 - __Open Food Facts__ - https://www.kaggle.com/openfoodfacts/world-food-facts - provides information on food products like ingredients, alergens, and most importantly various nutrition facts, which will be very useful in my case<br><br>
 
 - __Nutrition Facts for McDonalds Menu__ - https://www.kaggle.com/mcdonalds/nutrition-facts - provides detailed information on the amount of nutrients contained in each McDonalds product<br><br>
 
 - __Nutrition Facts for Starbucks Menu__ - https://www.kaggle.com/starbucks/starbucks-menu - provides detailed information on the amount of nutrients contained in each Starbucks product

### Problem statements

In an attempt to research the nutrition values of the french products and what affects them, I have chosen to compare them to fast-food products such as McDonalds - in terms of meat quality, and Starbucks - in terms of beverage quality.
I will also be looking into other factors such as packaging, food additive count and whether the products contain ingredients with palm oil or not.
So the main questions I'll be looking to answer are:
 - __Which nutrient has the biggest impact on the nutrition grade?__<br><br>
 - __How do french meat and beverages compare to McDonalds meat and Starbucks beverages in terms of nutrients?__<br><br>
 - __Do other factors like food packaging, additive count and palm oil in the ingredients have an impact on the nutrition value?__<br><br>

To answer these questions I have chosen to single out the three most popular and most essential nutrients contained in food: __carbohydrates__, __fat__ and __protein__.

### Project structure

I have chosen to divide my project in three separate notebooks, in order to improve readability. The first part involves obtaining and cleaning the three datasets, as well as filtering them for EDA and finally exporting them. The second part is the core of the project and includes exploratory data analysis on the three cleaned datasets, visualizations and hypothesis testing. The final part is done just for fun - a simple logistic regression model, which will attempt to predict whether a french product contains additives or not.

I will start this research by loading and cleaning each dataset separately. The first thing we need to do is load the required packages.

In [1]:
import pandas as pd
import numpy as np

from nose.tools import *

## Step 1 - The Open Food Facts dataset

### Obtaining the dataset

Let's start by obtaining the dataset and checking whether it was correctly loaded into a `pandas` dataframe. It seems to be tab-separated, so I'm keeping that in mind.

In [2]:
world_food_data=pd.read_csv("data/en.openfoodfacts.org.products.tsv", sep="\t", low_memory=False)

In [3]:
assert_is_not_none(world_food_data)

Next I'm going get a view of what the dataframe looks like by printing the first few rows and its shape.

In [4]:
world_food_data.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,0000000003087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de bl√© noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0000000004530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,0000000004559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,0000000016087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,0000000016094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print("Total {} observations on {} features".format(world_food_data.shape[0],world_food_data.shape[1]))

Total 356027 observations on 163 features

### Cleaning the dataset

We can see that the dataframe is pretty large and that's not ideal for exploration. So I'm going to pick the features I'll be using later on in part 2:
`["product_name","packaging","main_category","nutrition_grade_fr",`<br>`"nutrition_score_fr_100g","fat_100g","carbohydrates_100g","proteins_100g","additives_n",`<br>`"ingredients_from_palm_oil_n","first_packaging_code_geo"]`<br>
These columns are the main factors for exploration, which I set in my questions. Also, the last column represents the packaging coordinates of the products. I will keep that as well for confirmation of the product locations. After that, I'm going to rename some of the columns so that their names are more pythonic and accessible.<br>
Now there should be only 11 columns left in the dataframe.

In [6]:
cols_to_keep=["product_name","packaging","main_category","nutrition_grade_fr",
              "nutrition-score-fr_100g","fat_100g","carbohydrates_100g","proteins_100g",
               "additives_n","ingredients_from_palm_oil_n","first_packaging_code_geo"]
world_food_data=world_food_data[cols_to_keep]
world_food_data=world_food_data.rename(columns={"nutrition-score-fr_100g":"nutrition_score",
                                                "fat_100g":"fat_g",
                                               "carbohydrates_100g":"carbohydrates_g",
                                               "proteins_100g":"proteins_g"})

In [7]:
assert_equal(world_food_data.shape[1],11)

In [8]:
world_food_data.head()

,product_name,packaging,main_category,nutrition_grade_fr,nutrition_score,fat_g,carbohydrates_g,proteins_g,additives_n,ingredients_from_palm_oil_n,first_packaging_code_geo
0,Farine de bl√© noir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Banana Chips Sweetened (Whole),NaN,NaN,d,14.0,28.57,64.29,3.57,0.0,0.0,NaN
2,Peanuts,NaN,NaN,b,0.0,17.86,60.71,17.86,0.0,0.0,NaN
3,Organic Salted Nut Mix,NaN,NaN,d,12.0,57.14,17.86,17.86,0.0,0.0,NaN
4,Organic Polenta,NaN,NaN,NaN,NaN,1.43,77.14,8.57,0.0,0.0,NaN

Next I'm going to check out the values in some columns to get familiar with the data.

In [9]:
len(world_food_data[world_food_data.packaging.isnull()])

266068

In [10]:
len(world_food_data[world_food_data.first_packaging_code_geo.isnull()])

335155

In [11]:
world_food_data.additives_n.unique()

array([nan,  0.,  1.,  2.,  3.,  6.,  5.,  8.,  4., 10., 11.,  9.,  7.,
       14., 12., 18., 22., 13., 20., 23., 17., 26., 21., 25., 15., 24.,
       16., 19., 27., 29., 30.])

In [12]:
world_food_data.ingredients_from_palm_oil_n.unique()

array([nan,  0.,  1.,  2.])

In [13]:
len(world_food_data[world_food_data.ingredients_from_palm_oil_n==2])

79

Now the dataframe seems more readabale but there are a lot of null values in each column. Just dropping each row would result in a great loss of data, so before I do that I decided to apply some filtering to the columns.<br><br> First of all, it seems that a lot of the products have an unknown type of packaging and packaging coordinates, so I'm just going to fill those values with the most common ones in the column.<br><br>
After that, I decided to fill the additive counts with the column mean because there seems to be a lot of products with different counts. However, that is not the case with the palm oil column, so I decided to fill these null values with zeroes, since there is a very small amount of products with 2 such ingredients and they are likely to disappear when I filter the data.<br><br>
After applying these changes, I will drop the remaining rows with NaN's to keep the data in the rest of the features more accurate.

In [14]:
most_common_coords=world_food_data.first_packaging_code_geo.value_counts().index[0]
most_common_packaging=world_food_data.packaging.value_counts().index[0]
mean_additives=world_food_data.additives_n.mean()

world_food_data.additives_n.loc[world_food_data.additives_n.isnull()]=mean_additives
world_food_data.ingredients_from_palm_oil_n.loc[world_food_data.ingredients_from_palm_oil_n.isnull()]=0
world_food_data.first_packaging_code_geo.loc[world_food_data.first_packaging_code_geo.isnull()]=most_common_coords
world_food_data.packaging.loc[world_food_data.packaging.isnull()]=most_common_packaging

world_food_data=world_food_data.dropna()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
print("Total {} observations on {} features".format(world_food_data.shape[0],world_food_data.shape[1]))

Total 71091 observations on 11 features

We can see that we still have 71091 observations to work with, which should be enough for this research.

In [16]:
assert_is_not_none(most_common_coords)
assert_is_not_none(most_common_packaging)
assert_is_not_none(mean_additives)
assert_false(world_food_data.any().isnull().any())
assert_equal(world_food_data.shape,(71091,11))

Let's take a look at the feature data types and some of the unique column values.

In [17]:
world_food_data.dtypes

product_name                    object
packaging                       object
main_category                   object
nutrition_grade_fr              object
nutrition_score                float64
fat_g                          float64
carbohydrates_g                float64
proteins_g                     float64
additives_n                    float64
ingredients_from_palm_oil_n    float64
first_packaging_code_geo        object
dtype: object

In [18]:
world_food_data.nutrition_score.unique()

array([  6.,   9.,   1.,  18.,   2.,  14.,  26.,  10.,  13.,  12.,  22.,
         8.,  24.,  21.,  17.,  20.,  19.,  11.,   4.,  -2.,  -3.,  -5.,
        -1.,  15.,  -4.,  23.,  25.,  27.,   5.,   0.,   7.,  16.,  -9.,
         3.,  -6.,  29.,  -7., -13.,  28.,  30., -10., -11.,  -8.,  33.,
        36.,  31., -12.,  34.,  32.,  40., -14., -15.,  35.,  37.])

In [19]:
world_food_data.additives_n.unique()

array([ 0.        ,  5.        ,  3.        ,  1.87685078,  4.        ,
        2.        ,  1.        , 11.        ,  8.        , 10.        ,
        7.        ,  9.        ,  6.        , 13.        , 12.        ,
       14.        , 15.        , 16.        , 17.        , 18.        ,
       21.        , 30.        , 20.        , 22.        , 19.        ,
       26.        ])

In [20]:
world_food_data.ingredients_from_palm_oil_n.unique()

array([0., 1., 2.])

In [21]:
world_food_data.head()

,product_name,packaging,main_category,nutrition_grade_fr,nutrition_score,fat_g,carbohydrates_g,proteins_g,additives_n,ingredients_from_palm_oil_n,first_packaging_code_geo
176,Salade Cesar,Frais,en:plant-based-foods-and-beverages,c,6.0,12.00,23.00,22.00,0.0,0.0,"47.633333,-2.666667"
182,Chaussons tress√©s aux pommes,Frais,en:sugary-snacks,c,9.0,10.70,38.70,3.33,5.0,0.0,"47.633333,-2.666667"
183,Pain Burger Artisan,"Frais,plastique",fr:boulange,b,1.0,1.11,53.30,10.00,0.0,0.0,"47.633333,-2.666667"
185,Root Beer,"Canette,M√©tal",en:beverages,e,18.0,0.00,14.20,0.00,3.0,0.0,"47.633333,-2.666667"
187,Quiche Lorraine,Frai,en:meals,b,2.0,6.79,7.86,5.36,3.0,0.0,"47.633333,-2.666667"

There are a few changes I would like to make here.<br><br>
First of all, since I'll be extracting the french products from this dataframe, I'm going to remove the abbreviations from the `main_category` column.<br><br> Secondly, there's no need for the columns `additives_n`, `ingredients_from_palm_oil` and `nutrition_score` to be floating point, so I'm going to convert them into integers.<br><br>Then, I'd like to split the first packaging coordinates column `first_packaging_code_geo` into two separate columns - one for the latitude, and one for the longitude for easy plotting later on. I will also round these coordinates to two decimal places and drop the old column.<br><br>Finally, I'm going to reset the index column, since I dropped a lot of rows in the previous steps.<br><br> The dataframe should now have 12 features.

In [22]:
world_food_data["main_category"]=world_food_data["main_category"].map(lambda x: str(x)[3:])
world_food_data[["additives_n","ingredients_from_palm_oil_n"]]=world_food_data[["additives_n","ingredients_from_palm_oil_n"]].astype(int)
world_food_data[["fp_lat","fp_lon"]]=world_food_data["first_packaging_code_geo"].str.split(",", 1, expand=True)
world_food_data.fp_lat=round(world_food_data.fp_lat.astype(float),2)
world_food_data.fp_lon=round(world_food_data.fp_lon.astype(float),2)
world_food_data=world_food_data.drop(columns="first_packaging_code_geo")

world_food_data.nutrition_score=world_food_data.nutrition_score.astype(int)

world_food_data=world_food_data.reset_index(drop=True)

In [23]:
assert_equal(world_food_data.fp_lat.dtype,float)
assert_equal(world_food_data.fp_lon.dtype,float)
assert_equal(world_food_data.nutrition_score.dtype,int)
assert_equal(world_food_data.shape[1],12)

In [24]:
world_food_data.dtypes

product_name                    object
packaging                       object
main_category                   object
nutrition_grade_fr              object
nutrition_score                  int32
fat_g                          float64
carbohydrates_g                float64
proteins_g                     float64
additives_n                      int32
ingredients_from_palm_oil_n      int32
fp_lat                         float64
fp_lon                         float64
dtype: object

In [25]:
world_food_data.head()

,product_name,packaging,main_category,nutrition_grade_fr,nutrition_score,fat_g,carbohydrates_g,proteins_g,additives_n,ingredients_from_palm_oil_n,fp_lat,fp_lon
0,Salade Cesar,Frais,plant-based-foods-and-beverages,c,6,12.00,23.00,22.00,0,0,47.63,-2.67
1,Chaussons tress√©s aux pommes,Frais,sugary-snacks,c,9,10.70,38.70,3.33,5,0,47.63,-2.67
2,Pain Burger Artisan,"Frais,plastique",boulange,b,1,1.11,53.30,10.00,0,0,47.63,-2.67
3,Root Beer,"Canette,M√©tal",beverages,e,18,0.00,14.20,0.00,3,0,47.63,-2.67
4,Quiche Lorraine,Frai,meals,b,2,6.79,7.86,5.36,3,0,47.63,-2.67

The dataframe seems much cleaner now and the data types are correct. Now there's just a few more things I would like to add.<br><br>I'm going to add a column called `contains_additives`, which will be:
 - 1 - if the additive count is > 0
 - 0 - if the additive count is = 0

This will be used later on for modelling. I also noticed that the `packaging` column contains string values starting with both uppercase and lowercase. So I'm going to convert all of the words into lowercase for correct filtering later on in the exploration.

In [26]:
world_food_data["contains_additives"]=pd.Series(np.where(world_food_data.additives_n>0,1,0)).astype(int)
world_food_data.packaging=world_food_data.packaging.str.lower()

In [27]:
assert_less(world_food_data.contains_additives.any(),2)
assert_greater_equal(world_food_data.contains_additives.any(),0)
assert_equal(world_food_data.shape[1],13)

The features should now be 13 and the `contains_additives` column should have values between 0 and 1.

In [28]:
world_food_data.head()

,product_name,packaging,main_category,nutrition_grade_fr,nutrition_score,fat_g,carbohydrates_g,proteins_g,additives_n,ingredients_from_palm_oil_n,fp_lat,fp_lon,contains_additives
0,Salade Cesar,frais,plant-based-foods-and-beverages,c,6,12.00,23.00,22.00,0,0,47.63,-2.67,0
1,Chaussons tress√©s aux pommes,frais,sugary-snacks,c,9,10.70,38.70,3.33,5,0,47.63,-2.67,1
2,Pain Burger Artisan,"frais,plastique",boulange,b,1,1.11,53.30,10.00,0,0,47.63,-2.67,0
3,Root Beer,"canette,m√©tal",beverages,e,18,0.00,14.20,0.00,3,0,47.63,-2.67,1
4,Quiche Lorraine,frai,meals,b,2,6.79,7.86,5.36,3,0,47.63,-2.67,1

Let's take a look at the `ingredients_from_palm_oil_n` column. It seems that there are still 59 products, which contain 2 ingredients from palm oil. For simplicity, I'm just going to change these values with 1's, which will indicate that the french product either contains or doesn't contain such ingredients.

In [29]:
world_food_data["ingredients_from_palm_oil_n"].unique()

array([0, 1, 2], dtype=int64)

In [30]:
len(world_food_data[world_food_data.ingredients_from_palm_oil_n==2])

59

In [31]:
world_food_data["ingredients_from_palm_oil_n"].loc[world_food_data["ingredients_from_palm_oil_n"]==2]=1

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [32]:
assert_greater_equal(world_food_data.ingredients_from_palm_oil_n.any(),0)
assert_less_equal(world_food_data.ingredients_from_palm_oil_n.any(),1)

This concludes the cleaning of the Open Food Facts dataset and now I'm going to move on to the fast food datasets.

## Step 2 - The Starbucks dataset

### Obtaining the dataset

The other two datasets are smaller and much easier to clean and obtain.<br><br>
First I will load the Starbucks dataset from the `.csv` file and check if it was loaded correctly. Then I will print the first few rows, similarly to what I did to the previous one.

In [33]:
starbucks_data=pd.read_csv("data/starbucks_drinkMenu_expanded.csv")

In [34]:
assert_is_not_none(starbucks_data)

In [35]:
starbucks_data.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caff√® Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75

### Cleaning the dataset

The first change I'd like to make would be to rename the columns so that I can access them more easily.<br><br>
First, I'll filter out the brackets in the column names and convert these names to lowercase. After that, I'll save the ones, which I'll be using later on in the list `cols_to_keep`.<br><br>I'll also rename the nutrient columns and the `beverage` column to match the features in the `world_food_data` dataset for simplicity.

In [36]:
starbucks_data.columns=starbucks_data.columns.str.replace(")","")
starbucks_data.columns=starbucks_data.columns.str.replace(" ","")
starbucks_data.columns=starbucks_data.columns.str.replace("(","_")
starbucks_data.columns=starbucks_data.columns.str.lower()
cols_to_keep=["beverage_category", "beverage","beverage_prep","calories","totalfat_g","totalcarbohydrates_g",
               "protein_g"]
starbucks_data=starbucks_data[cols_to_keep]
starbucks_data=starbucks_data.rename(columns={"totalfat_g":"fat_g",
                                                "totalcarbohydrates_g":"carbohydrates_g",
                                              "protein_g":"proteins_g",
                                              "beverage":"product_name"
                                               })

In [37]:
starbucks_data.shape

(242, 7)

The resulting dataset should have 242 observations and 7 features.

In [38]:
assert_equal(starbucks_data.shape,(242,7))

In [39]:
starbucks_data.head()

,beverage_category,product_name,beverage_prep,calories,fat_g,carbohydrates_g,proteins_g
0,Coffee,Brewed Coffee,Short,3,0.1,5,0.3
1,Coffee,Brewed Coffee,Tall,4,0.1,10,0.5
2,Coffee,Brewed Coffee,Grande,5,0.1,10,1.0
3,Coffee,Brewed Coffee,Venti,5,0.1,10,1.0
4,Classic Espresso Drinks,Caff√® Latte,Short Nonfat Milk,70,0.1,75,6.0

Let's take a look at the data types.

In [40]:
starbucks_data.dtypes

beverage_category     object
product_name          object
beverage_prep         object
calories               int64
fat_g                 object
carbohydrates_g        int64
proteins_g           float64
dtype: object

It seems that the carbohydrates were rounded to integers here, but I'm going to convert them to float, so that they match the carbohydrates column data types in `world_food_data`.

In [41]:
starbucks_data.carbohydrates_g=starbucks_data.carbohydrates_g.astype(float)

In [42]:
assert_equal(starbucks_data.carbohydrates_g.dtype,float)

The `fat_g` column is also of type `object`, which is pretty odd. Let's take a look at why that is.

In [43]:
starbucks_data.fat_g.unique()

array(['0.1', '3.5', '2.5', '0.2', '6', '4.5', '0.3', '7', '5', '0.4',
       '9', '1.5', '4', '2', '8', '3', '11', '0', '1', '10', '15', '13',
       '0.5', '3 2'], dtype=object)

It seems that there is just a mistake in the data. As I'm not really sure what the value `3 2` is supposed to be, I'm just going to replace it with NaN's and convert the data type to float.

In [44]:
starbucks_data_mistake=starbucks_data.fat_g.loc[starbucks_data.fat_g=="3 2"]
starbucks_data.fat_g=starbucks_data.fat_g.replace(starbucks_data_mistake,np.nan)
starbucks_data.fat_g=starbucks_data.fat_g.astype(float)

In [45]:
assert_equal(starbucks_data.fat_g.dtype,float)

In [46]:
starbucks_data.dtypes

beverage_category     object
product_name          object
beverage_prep         object
calories               int64
fat_g                float64
carbohydrates_g      float64
proteins_g           float64
dtype: object

In [47]:
starbucks_data.head()

,beverage_category,product_name,beverage_prep,calories,fat_g,carbohydrates_g,proteins_g
0,Coffee,Brewed Coffee,Short,3,0.1,5.0,0.3
1,Coffee,Brewed Coffee,Tall,4,0.1,10.0,0.5
2,Coffee,Brewed Coffee,Grande,5,0.1,10.0,1.0
3,Coffee,Brewed Coffee,Venti,5,0.1,10.0,1.0
4,Classic Espresso Drinks,Caff√® Latte,Short Nonfat Milk,70,0.1,75.0,6.0

The Starbucks dataset seems ready for exploration now. So I'll move on to the last dataset - the __McDonalds__ dataset.

## Step 3 - The McDonalds dataset

### Obtaining the dataset

Similar to the Starbucks dataset, this one is also very simple to load

In [48]:
mcd_menu_data=pd.read_csv("data/menu.csv")

In [49]:
assert_is_not_none(mcd_menu_data)

### Cleaning the dataset

I'm going to apply the same column name cleaning rules as in the previous dataset here, as the columns are almost identical. Also I'll change the `item` column to `product_name`, again to match the french product name column.

In [50]:
mcd_menu_data.columns=mcd_menu_data.columns.str.replace(")","")
mcd_menu_data.columns=mcd_menu_data.columns.str.replace(" ","")
mcd_menu_data.columns=mcd_menu_data.columns.str.replace("(","_")
mcd_menu_data.columns=mcd_menu_data.columns.str.lower()
cols_to_keep=["category","item","calories","totalfat","carbohydrates","protein"]
mcd_menu_data=mcd_menu_data[cols_to_keep]
mcd_menu_data=mcd_menu_data.rename(columns={"totalfat":"fat_g",
                                            "item":"product_name",
                                           "carbohydrates":"carbohydrates_g",
                                           "protein":"proteins_g"
                                           })

In [51]:
mcd_menu_data.shape

(260, 6)

The dataset should now have 260 observations and 6 features.

In [52]:
assert_equal(mcd_menu_data.shape,(260,6))

In [53]:
mcd_menu_data.head()

,category,product_name,calories,fat_g,carbohydrates_g,proteins_g
0,Breakfast,Egg McMuffin,300,13.0,31,17
1,Breakfast,Egg White Delight,250,8.0,30,18
2,Breakfast,Sausage McMuffin,370,23.0,29,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,30,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,30,21

I'll analyze the data types of the columns again.

In [54]:
mcd_menu_data.dtypes

category            object
product_name        object
calories             int64
fat_g              float64
carbohydrates_g      int64
proteins_g           int64
dtype: object

Similar to the previous dataset, the carbohydrates and the proteins columns are rounded to integers. I'll convert them to `float` to match the french product data types.

In [55]:
mcd_menu_data.carbohydrates_g=mcd_menu_data.carbohydrates_g.astype(float)
mcd_menu_data.proteins_g=mcd_menu_data.proteins_g.astype(float)

In [56]:
assert_equal(mcd_menu_data.carbohydrates_g.dtype,float)
assert_equal(mcd_menu_data.proteins_g.dtype,float)

In [57]:
mcd_menu_data.head()

,category,product_name,calories,fat_g,carbohydrates_g,proteins_g
0,Breakfast,Egg McMuffin,300,13.0,31.0,17.0
1,Breakfast,Egg White Delight,250,8.0,30.0,18.0
2,Breakfast,Sausage McMuffin,370,23.0,29.0,14.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,30.0,21.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,30.0,21.0

Finally, let's confirm that the proteins and carbohydrates column values are correct.

In [58]:
mcd_menu_data.proteins_g.unique()

array([17., 18., 14., 21., 26., 19., 20., 11., 25., 30., 33., 28., 36.,
       35.,  8., 15., 12.,  1.,  6.,  5., 24., 37., 29., 48., 39., 22.,
       27., 40., 32., 31., 23.,  9., 13., 44., 87., 16.,  2.,  4.,  0.,
        7.,  3., 10.])

In [59]:
mcd_menu_data.carbohydrates_g.unique()

array([ 31.,  30.,  29.,  38.,  43.,  36.,  42.,  34.,  39.,  40.,  41.,
        46.,  48.,  47.,  44.,  57.,  55.,  56.,  51.,  50., 111., 116.,
       110., 115.,  60.,  61.,  26.,  15.,  66.,  58.,  49.,  45.,  32.,
        33.,  35.,  65.,  68.,  12.,  18.,  59., 118.,  10.,  22.,   8.,
        20.,  28.,  37.,  27.,  25.,  67.,   4.,  21.,   7.,  53.,  76.,
         0.,  72.,  54.,  74.,  23.,  24.,  62.,  19.,  63.,  73.,   9.,
        70.,  71.,  80.,  98.,  64.,  79.,  96.,  91.,  78.,  86., 109.,
       135.,  90., 114., 140., 141., 139., 106.])

This dataset seems clean now.<br><br>
We are finally finished with the rigorous cleaning process. Now we can move on to exploring the data.<br><br>

## Step 4 - Export the cleaned datasets

As a final step, I'm just going to export the cleaned datasets into `.csv` files for easy usage in part 2, while also removing the index column, because it isn't needed in this case.

In [60]:
mcd_menu_data.to_csv("data/mcd_menu_scrubbed.csv",index=False)
starbucks_data.to_csv("data/star_menu_scrubbed.csv",index=False)
world_food_data.to_csv("data/world_food_scrubbed.csv",index=False)